---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  import { getLocalStorage, setLocalStorage } from "../utils/localStorage";

  const getUserModePreference = (): string => {
    if ("matchMedia" in window) {
      const prefersDarkMode = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;
      return prefersDarkMode ? "dark" : "light";
    }
    return "light";
  };

  const themeMode = getLocalStorage("theme")
    ? (getLocalStorage("theme") as string)
    : getUserModePreference();
  setLocalStorage("theme", themeMode);
  window.document.documentElement.classList.add(themeMode);
  document.body.classList.remove("opacity-0");
  document.body.classList.add("opacity-100");
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="opacity-0 transition-opacity delay-75 duration-75">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-light-gray: hsl(0, 0%, 98%);
  }
  html {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    background-color: var(--very-light-gray);
  }
  html.dark {
    background-color: var(--very-dark-blue);
  }
</style>
